body{
    font-family: "Open Sans",sans-serif,"仿宋";
}

.title {
    width: 100%;
    height: 90px;
    background: lightblue;
    border:none;
}

.logo h1{
    color: #fff;
}
.logo {
    float: left;
    margin-top: 20px;
    margin-left: 10%;
}

.menu {
    vertical-align: 100%;
    margin-top: 0px;
}
.menu li {
    display: inline-block;
    list-style: none outside none;
    margin: 1.2em 0 0.2em;
    padding: 1px;
}

.menu li a {
    border: 2px solid lightblue;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.3em 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}
.menu li a:hover {
    border: 2px solid #a4aead;
}
.nav .current a {
    color: #fb326f;
    transition: all 0.3s ease 0s;
}
.menu li.active a {
    border: 2px solid #23b7a4;
    color: #23b7a4;
}

.nav:before, .nav:after {
    content: " ";
    display: table;
}
/*.nav:after {
    clear: both;
}*/
.nav ul {
    list-style: none outside none;
}

#menu-username {
    color: #fff;
    float: right;
    margin-top: -10px;
    margin-right: 50px;
}
