/*body {
	font-family: Arial, sans-serif;
	width: 800px;
	margin: auto;
}*/

hr {
	margin: 0px;
	padding: 0px;
}

#banner {
	display: block;
}

#username {
	color: red;
	font-weight: bold;
}

#menu-username {
	color: red;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

.message {
	color: red;
	text-align: center;	
}

.login-form {
    background-color: #333; 
    color: white;
	padding: 5px;
	width: 300px;
	height: 160px;
	margin: auto;
	text-align: center;
	margin-top: 100px;
}

.login-form fieldset {
	border: 1px solid gray;	
}

.login-form legend {
	margin: 0px;
	padding: 0px;
	text-align: left;
}

.login-form hr {
	height: 1px;
	border: 0px;
	border-top: 1px solid black;
}

.login-form input {
	float: right;
}

/**
* Menu based on James Owers' Horizontal CSS List Menu
* @see http://jamesowers.co.uk/css-tutorials/50/horizontal-css-list-menu/
*/
/*
.menu {
    width: 100%;
    background-color: #333; 
}
    
.menu ul {
    margin: 0; 
    padding: 0;
    float: left;
}
 
.menu ul li {
    display: inline;
}
 
.menu ul li a {
    float: left; 
    text-decoration: none;
    color: white;
    padding: 10.5px 11px;
    background-color: #333; 
}
 
.menu ul li a:visited {
    color: white;
}
 
.menu ul li a:hover, .menu ul li .current {
    color: #fff;
    background-color:#0b75b2;
}*/
